:root{
    --main: blueviolet;
    --text: aliceblue;

}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: var(--main);
    color: var(--text);
    text-align: center;
    padding:10px;
}

/*Styling the UV background*/
.uv-good{
    background-color: rgb(126, 205, 6);
    color: var(--text)
}

.uv-medium{
    background-color: rgb(244, 171, 36);
    color: var(--text);
}

.uv-bad{
    background-color: rgb(243, 68, 68);
    color:var(--text);
}

/* Wanted the search button to match the header*/
#search-btn{
    background-color: var(--main);
}

/* Used JS dynamically created classes to style the headers and today's weather data.*/
.list-unstyled{
    text-align: center;
}

.name-style{
    text-align: center;
}

.forecast-style{
    text-align: center;
}