:root{
    --main: blueviolet;
    --text: aliceblue;

}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: var(--main);
    color: var(--text);
    text-align: center;
    padding:10px;
}


#city-search{
    width:80%;
}

#weather-current{
    padding-left:15px;
}

#clear-storage{
    color: gray;
    font-size: .75rem;
    margin: .5em 0em 0em .5em;
}

.weather-cards{
    width: 9 rem;
    background-color: var(--main);
    color: var(--main);
    text-align: center;
}

.uv-favorable{
    background-color: rgb(126, 205, 6);
    border-radius: 5px;
    color: var(--text)
}

.uv-moderate{
    background-color: rgb(244, 171, 36);
    border-radius: 5px;
    color: var(--text);
}

.uv-severe{
    background-color: rgb(243, 68, 68);
    border-radius: 5px;
    color:var(--text);
}

#search-btn{
    background-color: var(--main);
}