:root{
    --main: blueviolet;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: var(--main);
    color:aliceblue;
    text-align: center;
    padding:10px;
}


.cityList{
    margin-top:20px;
}

.recent-searches{
    font-size: 10px;
}

.city{
    padding:10px;
}

.currentWeather{
    margin-bottom: 20px;

}

.fiveDay h2{
 font-size:1.2rem;

}
.fiveDay p{
    font-size:.8rem;

}
.fiveDay .card-title{
    font-weight: bold;
    color:white;
}
.card{
    background-color: var(--main);

}
.text-muted{
    color:white !important;
}
#uv-index{
    color:white;
}
#search-btn{
    background-color: var(--main);
}